<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="d-flex flex-column min-vh-100">



    <div class="wrapper flex-grow-1">
        @RenderBody()
    </div>
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: darkgrey">
            © 2020 Copyright:
            <a class="text-dark" href="https://github.com/crazyraccoon1488">crazyraccon1488 github</a>
        </div>
        <!-- Copyright -->
    </footer>




</body>

</html>
