@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Меню</title>
</head>
<body>
    <div>
        <h3>Пользователи в БД</h3>
        <table>
            <tr>
                <td><p>Ник</p></td>
                <td><p>Email</p></td>
                <td><p>Password</p></td>
                <td>Дата регистрации</td>
            </tr>
        </table>
    </div>
</body>
</html>