@model WebApplication1.Models.Category

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены что вы хотите удалить элемент?</h3>
<div>
    <h4>Категория</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCategory)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a href="Index" class="btn btn-primary" role="button" aria-pressed="true">Назад</a>
</div>
    }
</div>
